html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overscroll-behavior: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  background: #faf8f6;
  font-family: "Montserrat", sans-serif;
}

.btn-get {
  border: #ef4444;
  border-radius: 4px;
  width: 168px;
  height: 56px;
  background: #ef4444;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.title {
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #0d2a54;
}
@media (min-width: 1440px) {
  .title {
    font-size: 32px;
    line-height: 150%;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}
@media (min-width: 1440px) {
  .container {
    padding-left: 108px;
    padding-right: 108px;
    max-width: 1656px;
  }
}

.header {
  padding-top: 20px;
}
.header-src {
  display: block;
  margin: 0 auto;
  min-width: 92px;
}
@media (min-width: 1440px) {
  .header-src {
    margin: 0;
    min-width: 114px;
  }
}

.headContent {
  padding: 40px 0;
}
@media (min-width: 1440px) {
  .headContent {
    padding: 0;
  }
}
.headContent__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 1440px) {
  .headContent__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.headContent__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (min-width: 1440px) {
  .headContent__content {
    gap: 30px;
    padding: 100px 0 50px 0;
    align-items: self-start;
  }
}
.headContent .title {
  font-size: 20px;
  line-height: 140%;
}
@media (min-width: 1440px) {
  .headContent .title {
    font-size: 48px;
    line-height: 133%;
    text-align: left;
  }
}
.headContent__grades {
  border-radius: 4px;
  padding: 4px 8px;
  width: 93px;
  height: 32px;
  background: #d0dbf1;
}
@media (min-width: 1440px) {
  .headContent__grades {
    display: none;
  }
}
.headContent__grades-text {
  font-weight: 800;
  font-size: 14px;
  line-height: 171%;
  color: #0d2a54;
}
.headContent__main-text {
  font-weight: 800;
  font-size: 14px;
  line-height: 143%;
  color: #0d2a54;
}
@media (min-width: 1440px) {
  .headContent__main-text {
    font-size: 20px;
    line-height: 140%;
  }
}
.headContent__main-text span {
  color: #30c690;
}
.headContent__achievements {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.headContent__achievement-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.headContent__achievement-image {
  max-width: 24px;
}
.headContent__achievement-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  color: #0d2a54;
}
@media (min-width: 1440px) {
  .headContent__achievement-text {
    font-size: 16px;
    line-height: 150%;
  }
}
@media (min-width: 1440px) {
  .headContent__image {
    align-self: end;
  }
}
.headContent__image-src {
  width: 100%;
}
@media (min-width: 1440px) {
  .headContent__image-src {
    display: none;
  }
}
.headContent__image-src-desk {
  display: none;
}
@media (min-width: 1440px) {
  .headContent__image-src-desk {
    display: block;
    min-width: 496px;
  }
}

.rate {
  background: #fff;
  padding: 20px 0;
}
@media (min-width: 1440px) {
  .rate {
    padding: 60px 0;
  }
}
.rate__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 1440px) {
  .rate__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.rate__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rate__logo {
  max-width: 64px;
}
.rate__text {
  font-weight: 800;
  font-size: 14px;
  line-height: 143%;
  color: #0d2a54;
}
@media (min-width: 1440px) {
  .rate__text {
    font-size: 24px;
    line-height: 167%;
  }
}
.rate__highlight--green {
  color: #30c690;
}
.rate__highlight--orange {
  color: #f90;
}
.rate__comparison {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1440px) {
  .rate__comparison {
    min-width: 392px;
  }
}
.rate__comparison-item--stem, .rate__comparison-item--nonstem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rate__comparison-item--stem .rate__comparison-content {
  width: 100%;
  background: #30c690;
}
.rate__comparison-item--nonstem .rate__comparison-content {
  width: 50%;
  background: #f90;
}
.rate__comparison-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  color: #0d2a54;
  margin-bottom: 5px;
}
@media (min-width: 1440px) {
  .rate__comparison-title {
    font-size: 16px;
    line-height: 150%;
  }
}
.rate__comparison-content {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  justify-content: flex-end;
}
.rate__comparison-salary {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  text-align: right;
}
@media (min-width: 1440px) {
  .rate__comparison-salary {
    font-size: 16px;
    line-height: 150%;
  }
}
.rate__comparison-item--stem .rate__comparison-salary {
  color: #fff;
}
.rate__comparison-item--nonstem .rate__comparison-salary {
  color: #0d2a54;
}

.info {
  padding: 50px 0;
}
@media (min-width: 1440px) {
  .info {
    padding: 60px 0;
  }
}
.info__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1440px) {
  .info__container {
    flex-direction: row;
  }
}
.info__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1440px) {
  .info__text {
    gap: 20px;
  }
}
.info__title {
  font-weight: 800;
  font-size: 14px;
  line-height: 143%;
  color: #0d2a54;
}
@media (min-width: 1440px) {
  .info__title {
    font-size: 32px;
    line-height: 150%;
  }
}
.info__paragraph {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  color: #0d2a54;
}
@media (min-width: 1440px) {
  .info__paragraph {
    font-size: 16px;
    line-height: 150%;
  }
}
.info__form {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid #d0dbf1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
@media (min-width: 1440px) {
  .info__form {
    height: min-content;
  }
}
.info .title {
  font-size: 20px;
  line-height: 140%;
}
.info__form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.info__form-group {
  min-height: 72px;
  background: #fff;
  padding: 10px;
  width: 100%;
  border: 1px solid #d0dbf1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.info__form-label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #0d2a54;
  margin-bottom: 5px;
}
.info__form-select, .info__form-input {
  height: 40px;
  font-size: 16px;
  color: #333;
  border: none;
  outline: none;
  width: 100%;
}
.info__form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../images/stroke.svg") no-repeat right 10px center;
  background-size: 10px;
}
.info__form-button {
  width: 100%;
}

.slider {
  padding: 10px 0 50px 0;
}
@media (min-width: 1440px) {
  .slider {
    padding: 20px 0 60px 0;
  }
  .slider .title {
    text-align: left;
  }
}
.slider__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
@media (min-width: 1440px) {
  .slider__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.slider__text-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1440px) {
  .slider__text-content {
    gap: 20px;
    max-width: 496px;
  }
}
.slider__items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (min-width: 1440px) {
  .slider__items {
    gap: 10px;
  }
}
.slider__item {
  display: flex;
  gap: 5px;
}
@media (min-width: 1440px) {
  .slider__item {
    gap: 10px;
  }
}
.slider__item-number {
  font-weight: 800;
  font-size: 14px;
  line-height: 171%;
  color: #0d2a54;
}
@media (min-width: 1440px) {
  .slider__item-number {
    font-size: 16px;
    line-height: 150%;
  }
}
.slider__item-text {
  font-weight: 800;
  font-size: 14px;
  line-height: 171%;
  color: #0d2a54;
}
@media (min-width: 1440px) {
  .slider__item-text {
    font-size: 16px;
    line-height: 150%;
  }
}
.slider .slider__content {
  width: 100%;
}
@media (min-width: 1440px) {
  .slider .slider__content {
    width: auto;
  }
}
.slider .slider__content .slider-container {
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .slider .slider__content .slider-container {
    width: 552px;
    position: relative;
  }
}
.slider .slider__content .slider-container .slides {
  display: flex;
  transition: transform 0.5s ease;
}
.slider .slider__content .slider-container .slides .slide {
  border-radius: 4px;
  min-width: 300px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
}
@media (min-width: 1440px) {
  .slider .slider__content .slider-container .slides .slide {
    min-width: 552px;
    height: 304px;
    position: relative;
  }
  .slider .slider__content .slider-container .slides .slide .main__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 1px solid #cedce3;
    height: 100%;
    border-radius: 10px;
    background: #fff;
  }
}
.slider .slider__content .slider-container .slides .slide .after__slider {
  display: none;
}
@media (min-width: 1440px) {
  .slider .slider__content .slider-container .slides .slide .after__slider {
    display: block;
    border: 1px solid #cedce3;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    right: 0;
    z-index: -1;
    position: absolute;
  }
  .slider .slider__content .slider-container .slides .slide .after__slider-one {
    right: 42px;
    width: 8%;
    height: 90%;
    z-index: -1;
  }
  .slider .slider__content .slider-container .slides .slide .after__slider-two {
    right: 28px;
    width: 6%;
    height: 80%;
    z-index: -2;
  }
  .slider .slider__content .slider-container .slides .slide .after__slider-three {
    right: 18px;
    width: 4%;
    height: 70%;
    z-index: -3;
  }
  .slider .slider__content .slider-container .slides .slide .after__slider-four {
    right: 8px;
    width: 2%;
    height: 60%;
    z-index: -4;
  }
}
.slider .slider__content .pagination {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 5px;
}
@media (min-width: 1440px) {
  .slider .slider__content .pagination {
    padding-top: 15px;
  }
}
.slider .slider__content .pagination .dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #cedce3;
  transition: width 0.3s ease, border-radius 0.3s ease;
}
.slider .slider__content .pagination .dot.active {
  border-radius: 4px;
  width: 56px;
  height: 8px;
  background: #0d2a54;
}
.slider .btn-get-desktop {
  display: none;
}
@media (min-width: 1440px) {
  .slider .btn-get-desktop {
    display: block;
  }
}
@media (min-width: 1440px) {
  .slider .btn-get-phone {
    display: none;
  }
}

.reasons {
  background: #fff;
  padding: 30px 0;
}
@media (min-width: 1440px) {
  .reasons {
    padding: 50px 0;
  }
}
.reasons__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media (min-width: 1440px) {
  .reasons__container {
    align-items: start;
    max-width: 600px;
    margin: 0 auto;
  }
}
.reasons__container .title {
  font-size: 14px;
  line-height: 143%;
}
@media (min-width: 1440px) {
  .reasons__container .title {
    font-size: 24px;
    line-height: 167%;
    max-width: 600px;
  }
}
.reasons__container .title span {
  color: #30c690;
}

.sliderReview {
  padding: 50px 0;
}
@media (min-width: 1440px) {
  .sliderReview {
    padding: 60px 0;
  }
  .sliderReview .title {
    font-size: 48px;
    line-height: 133%;
    max-width: 600px;
    margin: 0 auto;
  }
}
.sliderReview__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1440px) {
  .sliderReview__container {
    gap: 40px;
  }
}
.sliderReview__container .swiper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 40px;
}
@media (min-width: 1440px) {
  .sliderReview__container .swiper {
    max-width: 100%;
  }
  .sliderReview__container .swiper .swiper-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.sliderReview__container .swiper .swiper-slide {
  height: 276px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .sliderReview__container .swiper .swiper-slide {
    max-width: 392px;
  }
}
.sliderReview__container .swiper .swiper-slide .main__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  border: 1px solid #0d2a54;
  height: 100%;
  border-radius: 10px;
  background: #fff;
}
.sliderReview__container .swiper .swiper-slide .after__slider {
  width: 5%;
  height: 90%;
  border: 1px solid #0d2a54;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  right: 0;
  z-index: -1;
}
@media (min-width: 1440px) {
  .sliderReview__container .swiper .swiper-slide .after__slider {
    display: none;
  }
}
.sliderReview__container .swiper-pagination {
  position: relative;
  margin-top: 20px;
}
@media (min-width: 1440px) {
  .sliderReview__container .swiper-pagination {
    display: none;
  }
}
.sliderReview__container .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #cedce3;
  opacity: 1;
  border: 1px solid #0d2a54;
}
.sliderReview__container .swiper-pagination-bullet-active {
  background: #0d2a54;
}

.featured {
  padding: 30px 0;
  background: #fff;
}
@media (min-width: 1440px) {
  .featured {
    padding: 60px 0;
  }
  .featured .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
  }
}
.featured__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (min-width: 1440px) {
  .featured__container {
    gap: 50px;
  }
}
.featured__container-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  flex-wrap: wrap;
}
@media (min-width: 1440px) {
  .featured__container-items .one {
    min-width: 56px;
  }
  .featured__container-items .two {
    min-width: 197px;
  }
  .featured__container-items .three {
    min-width: 110px;
  }
  .featured__container-items .four {
    min-width: 112px;
  }
  .featured__container-items .five {
    min-width: 139px;
  }
}

.footer {
  background: #2b41b7;
  padding-top: 50px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
@media (min-width: 1440px) {
  .footer__container {
    position: relative;
  }
  .footer__container .btn-get {
    background: #30c690;
    margin-bottom: 100px;
  }
}
.footer .title {
  color: #fff;
}
@media (min-width: 1440px) {
  .footer .title {
    max-width: 807px;
  }
}
.footer__images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}
@media (min-width: 1440px) {
  .footer__images {
    position: absolute;
    bottom: 0;
  }
  .footer__images-girl {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 223px;
  }
  .footer__images-girl {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 223px;
  }
}/*# sourceMappingURL=main.css.map */