.footer {
  background: #2b41b7;
  padding-top: 50px;
  &__container {
    @include flex-center(column, start, center);
    gap: 50px;
    @include desktop {
      position: relative;
    }
  }
  .title {
    color: #fff;
    @include desktop {
      max-width: 807px;
    }
  }
  .btn-get {
    z-index: 2;
    @include desktop {
      background: #30c690;
      margin-bottom: 100px;
    }
  }
  &__images {
    width: 100%;
    @include flex-center(row, space-between, end);
    overflow-x: hidden;
    @include desktop {
      position: absolute;
      bottom: 0;
      &-girl {
        position: absolute;
        bottom: 0;
        left: 0;
        min-width: 223px;
      }
      &-girl {
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: 223px;
      }
    }
  }
}
