.info {
  padding: 50px 0;
  @include desktop {
    padding: 60px 0;
  }
  &__container {
    @include flex-center(column, start, start);
    gap: 20px;
    @include desktop {
      @include flex-center(row, start, start);
    }
  }
  &__text {
    @include flex-center(column, start, start);
    gap: 10px;
    @include desktop {
      gap: 20px;
    }
  }
  &__title {
    font-weight: 800;
    font-size: 14px;
    line-height: 143%;
    color: #0d2a54;
    @include desktop {
      font-size: 32px;
      line-height: 150%;
    }
  }
  &__paragraph {
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    color: #0d2a54;
    @include desktop {
      font-size: 16px;
      line-height: 150%;
    }
  }
  &__form {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    @include flex-center(column, start, center);
    gap: 20px;
    padding: 10px;
    border: 1px solid #d0dbf1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    @include desktop {
      height: min-content;
      position: sticky;
      top: 20px;
    }
  }
  .title {
    font-size: 20px;
    line-height: 140%;
  }
  &__form-container {
    @include flex-center(column, start, start);
    gap: 10px;
    width: 100%;
  }
  &__form-group {
    min-height: 72px;
    background: #fff;
    padding: 10px;
    width: 100%;
    border: 1px solid #d0dbf1;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  &__form-label {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #0d2a54;
    margin-bottom: 5px;
  }
  &__form-select,
  &__form-input {
    height: 40px;
    font-size: 16px;
    color: #333;
    border: none;
    outline: none;
    width: 100%;
  }
  &__form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/Test_Site//images/stroke.svg") no-repeat right 10px center;
    background-size: 10px;
  }
  &__form-button {
    width: 100%;
  }
}
