.slider {
  padding: 10px 0 50px;
  overflow-x: hidden;
  @include desktop {
    padding: 20px 0 60px;
  }
  .title {
    font-size: 20px;
    @include desktop {
      text-align: left;
      font-size: 32px;
    }
  }
  &__container {
    @include flex-center(column, start, center);
    gap: 10px;
    @include desktop {
      @include flex-center(row, space-between, center);
    }
  }
  &__text-content {
    @include flex-center(column, start, start);
    gap: 10px;
    @include desktop {
      gap: 20px;
      max-width: 496px;
    }
  }
  &__list {
    @include flex-center(column, start, start);
    gap: 5px;
    @include desktop {
      gap: 10px;
    }
  }
  &__list-item {
    display: flex;
    gap: 5px;
    @include desktop {
      gap: 10px;
    }
  }
  &__list-item-number {
    font-weight: 800;
    font-size: 14px;
    color: #0d2a54;
    @include desktop {
      font-size: 16px;
    }
  }
  &__list-item-text {
    font-weight: 800;
    font-size: 14px;
    color: #0d2a54;
    @include desktop {
      font-size: 16px;
    }
  }
  &__content {
    width: 100%;
    @include flex-center(column, start, center);
    @include desktop {
      width: auto;
    }
    .swiper--slider.swiper2 {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      padding-bottom: 40px;

      @include desktop {
        max-width: 552px;
      }
      .swiper-slide {
        height: 276px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include flex-center;
        font-size: 18px;
        overflow: hidden;

        @include desktop {
          width: 552px;
          height: 304px;
        }
        &__content {
          @include flex-center(column, center, center);
          padding: 20px;
          text-align: center;
          background: #fff;
          border-radius: 10px;
          height: 100%;
          width: 100%;
          border: 1px solid #cedce3;
          &-image {
            width: 50px;
            height: auto;
            border-radius: 10px;
            margin-bottom: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }
          &-title {
            font-size: 24px;
            font-weight: bold;
            margin: 10px 0;
          }
          &-description {
            font-size: 16px;
            line-height: 1.5;
            margin: 0;
          }
        }
      }
      .swiper-pagination--slider {
        @include flex-center(row, center, start);
        margin-top: 20px;
        .swiper-pagination-bullet {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #cedce3;
          transition: width 0.3s ease, border-radius 0.3s ease;
        }
        .swiper-pagination-bullet-active {
          border-radius: 4px;
          width: 56px;
          height: 8px;
          background: #0d2a54;
        }
      }
    }
  }
  &__button {
    @include desktop {
      display: none;
    }
    &--desktop {
      display: none;
      @include desktop {
        display: block;
      }
    }
    &--phone {
      margin: 0 auto;
      @include desktop {
        display: none;
      }
    }
  }
}
